#ContinueButton{
	text-align:center;
	padding-right:0;
}

li img{
	min-height: 90%!important;
	top: 5%!important;
	left: 2%!important;
	-moz-border-radius: 1em /*{global-radii-buttons}*/;
	-webkit-border-radius: 1em /*{global-radii-buttons}*/;
	border-radius: 1em /*{global-radii-buttons}*/;
}
