body { 
margin:0; 
padding:0; 
height:100%; 
}

@media handheld{
	#phone{
		width:374px;
		height:800px;
		
		background-image:url('../assets/phone.png');
		background-size:374px
	}

	#phoneContent {
		position:relative;
		width:327px;
		height:575px;
		left:22px;
		top:116px;
	}
}

@media screen{
	#phone{
		width:327px;
		height:575px;
		background:#000000;
	}
	
	#phoneContent{
		height:100%;
	}
}
