body { 
	margin:0; 
	padding:0; 
	height:100%; 
}

@media screen{
	#phone{
		width:504px;
		height:900px;
		background-image:url('../assets/blank_phone.png');
		background-size:504px;
	}

	#phoneContent{
		position:relative;
		width:318px;
		height:478px;
		left:94px;
		top:172px;
	}
	
	#phoneGlare{
		position:absolute;
		left:0;
		top:0;
		width:504px;
		height:900px;
	}
}

@media handheld{
	#phone{
		width:100%;
		height:100%;
		background:#000000;
	}
	
	#phoneContent{
		width:100%;
		height:100%;
	}
	
	#phoneGlare{
		visibility:hidden;
	}
}
