#mapButton {
	margin-top: 2.35em;
	margin-left: 10px;
	height:38px;
	width:100px;
}

.readOnlyInput{
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	border:0;
	background:none;
	font-weight:bold;
	resize:none;
}

.ui-field-contain{
	padding-left:10px;
	padding-right:10px;
}
